<h1>Welcome</h1>

<% if flash[:error] %>
<%= flash[:error] %><br><br>
<% end %>

<%=  link_to "Sign up", signup_path %><br>

<%= link_to "Log in", login_path %><br>

<%= link_to "Sign in Through Facebook", '/auth/facebook' %><br>