<div class="container welcome">
<h1>Hi, <%= current_user.username %>!</h1>

<h2>Recently Created Workouts:</h2><br>

  <% @workouts.each do |workout| %>
    <p><%= link_to workout.workout_name, workout %> - created <%= workout.date %> by <%= workout.user.username %></p>
  <% end %>


</div>