<h1>Welcome to the Fitness App</h1>
<h2>Now that you're here lets get in shape!</h2>

<div><%= link_to "Signup", signup_path %></div>
<div><%= link_to "Login", login_path %></div>
<div><%= link_to 'Login with Github!', '/auth/github' %></div>
